:root {
    --color-red: #b02822;
    --color-blue: #1a4da1;
    --color-green: #1e7b2d;
    --color-gray: #707070;
    --color-lightgray: #e1e1e1;
    --color-darkgray: #040404;
    --color-hightlight: rgba(251, 227, 20, .5);
    --shader: rgba(0, 0, 0, .8);

}

.red {
    color: var(--color-red);
}

.blue {
    color: var(--color-blue);
}

.green {
    color: var(--color-green);
}
