:root {
    --color-red: #b02822;
    --color-blue: #1a4da1;
    --color-green: #1e7b2d;
    --color-gray: #707070;
    --color-hightlight: rgba(251,227,20, .5);
    --test: rgb(128, 26, 26);
}

.red {
    color: var(--color-red);
}

.blue {
    color: var(--color-blue);
}

.green {
    color: var(--color-green);
}
