body {
    font: 11px/13px 'Open Sans', sans-serif, arial;
    margin: 0;
    padding: 0;
}

.page_wrapper {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 900px;
}

.container {
    margin: 0 auto;
    width: 90%;
}