.world {
    background-image: url(/static/images/world.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 0;
    margin: 0 auto;
    padding-bottom: 69.86%;
    position: relative;
    width: 100%;
}

.world:before, .world:after {
    background: url(../images/map-border.png) no-repeat top left;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.world:after {
    bottom: 0;
    top: auto;
    transform: rotate(180deg);
}

.map {
    height: auto;
    position: absolute;
    width: 29.5%;
}

.map:before {
    content: "";
    float: left;
    padding-bottom: 100%;
    width: 100%;
}

.map[data-map-id="1099"] {
    left: 38%;
    top: 0;
}

.map[data-map-id="96"] {
    left: 73.8%;
    top: 28.9%;
}

.map[data-map-id="95"] {
    left: 2%;
    top: 38.1%;
}

.map[data-map-id="38"] {
    left: 35.8%;
    top: 56.6%;
    width: 29%;
}
