::-webkit-scrollbar {
    background: #fff;
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.8);
}

gw2-match-logger {
    height: 80px;
    margin-top: 10px;
    overflow-y: scroll;
    width: calc(50% - 16px);
}

gw2-match-logger .log_entry {
    display: flex;
    flex-flow: row nowrap;
}

gw2-match-logger .log_time {
    white-space: nowrap;
}

gw2-match-logger .log_message {
    padding-left: 2px;
}

gw2-match-logger .blue,
gw2-match-logger .green,
gw2-match-logger .red {
    font-weight: 600;
}

gw2-match-logger .name {
    cursor: zoom-in;
    text-decoration: underline;
}

gw2-match-logger[data-focussed-map="38"] .log_entry,
gw2-match-logger[data-focussed-map="95"] .log_entry,
gw2-match-logger[data-focussed-map="96"] .log_entry,
gw2-match-logger[data-focussed-map="1099"] .log_entry {
    display: none;
}

gw2-match-logger[data-focussed-map="38"] .log_entry[data-map-id="38"],
gw2-match-logger[data-focussed-map="95"] .log_entry[data-map-id="95"],
gw2-match-logger[data-focussed-map="96"] .log_entry[data-map-id="96"],
gw2-match-logger[data-focussed-map="1099"] .log_entry[data-map-id="1099"] {
    display: block;
}
