::-webkit-scrollbar {
    background: #fff;
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.8);
}

gw2-match-logger {
    height: 80px;
    margin-top: 10px;
    overflow-y: scroll;
    width: 50%;
}

gw2-match-logger .blue,
gw2-match-logger .green,
gw2-match-logger .red {
    font-weight: bold;
}

gw2-match-logger .name {
    cursor: zoom-in;
    text-decoration: underline;
}
