gw2-match-status {
    display: flex;
    flex-flow: nowrap row;
    margin-top: 10px;
    width: 50%;
}

gw2-match-status svg {
    height: 75px;
    transform: rotate(-0.25turn);
    width: 75px;
}

gw2-match-status ul,
gw2-match-status li {
    list-style: none;
    margin: 0;
    padding: 0;
}

gw2-match-status li {
    padding: 1px 10px;
}

gw2-match-status li.header {
    padding-top: 0;
}

gw2-match-status .income {
    width: 50px;
}

[lang="de"] gw2-match-status .income {
    width: 70px;
}

[lang="es"] gw2-match-status .scores .header {
    padding-right: 0;
    width: 85px;
}

[lang="es"] gw2-match-status .victory_points .header {
    padding-right:0;
    width: 92px;
}

gw2-match-status .worlds li {
    position: relative;
}

gw2-match-status .worlds .linked {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--color-gray);
    display: none;
    font-weight: normal;
    left: 100px;
    padding: 4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    z-index: 1;
}

gw2-match-status .worlds li:hover .linked {
    display: block;
}

gw2-match-status .worlds .linked span:not(:last-of-type):after {
    content: ', ';
}
