gw2-match-statistics {
    background: var(--shader);
    border: 1px solid #000;
    color: var(--color-lightgray);
    display: none;
    font-weight: 600;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: 10px;
    top: 30px;
    width: calc(100% - 20px);
    z-index: 2;
}

gw2-match-statistics::-webkit-scrollbar {
    background: transparent;
    height: 5px;
    width: 5px;
}

gw2-match-statistics::-webkit-scrollbar-thumb {
    background: #000;
}

gw2-match-statistics[data-open="true"] {
    display: block;
}

gw2-match-statistics .headline {
    margin: 0 10px;
}

gw2-match-statistics .data {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%
}

gw2-match-statistics .border {
    border-bottom: 1px solid #000;
}

gw2-match-statistics .statistics-entry {
    margin-bottom: 10px;
    margin-left: 10px;
    padding-right: 40px;
}

gw2-match-statistics .kd .statistics-entry,
gw2-match-statistics .distribution .statistics-entry {
    width: calc(33% - 48px);
}

gw2-match-statistics .skirmishes .statistics-entry {
    width: calc(25% - 51px);
}

gw2-match-statistics .header {
    margin-bottom: 8px;
}


gw2-match-statistics .score {
    position: relative;
    width: 100%;
}

gw2-match-statistics .value {
    position: absolute;
    top: -3px;
}

gw2-match-statistics .bar {
    background-color: var(--color-gray);
    border-radius: 4px;
    height: 8px;
    margin-bottom: 7px;
    transition: width 1s;
}

gw2-match-statistics .green .bar {
    background-color: var(--color-green);
}

gw2-match-statistics .blue .bar {
    background-color: var(--color-blue);
}

gw2-match-statistics .red .bar {
    background-color: var(--color-red);
}

gw2-match-statistics .legend {
    display: flex;
    margin: 0 10px 10px;
    text-align: center;
    width: calc(100% - 20px);
}

gw2-match-statistics .legend div {
    width: 9%;
}

gw2-match-statistics .skirmishessvg .legend div {
    flex-grow: 1;
    text-align: right;
    width: auto;
}

gw2-match-statistics .skirmishessvg .legend div:first-child {
    flex-grow: 0;
}

gw2-match-statistics svg {
    height: 150px;
    margin-left: 10px;
    width: calc(100% - 20px);
}
