<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css'/>
</head>
<body>
    {{{body}}}
    <script src="/static/javascripts/app.js"></script>
</body>
</html>
